[
 {dl_core,
  [
   {couch_host, {"p8portal.phys.washington.edu",5984}}
  ]
 },
 
 {lager, 
  [
   {handlers, 
    [
     {lager_console_backend, info},
     {lager_couchdb_backend, [
      {name,  "lager_couchdb_backend"},
      {level, info},
      {host, "p8portal.phys.washington.edu"},
      {port, 5984},
      {db_name, "dripline_sys_log"}
    ]}
    ]
   }
  ]
 }
].
