% -*- erlang -*-

{deps_dir, "lib"}.

{erl_first_files,["src/gen_dl_agent.erl"]}.
{erl_opts, [{pa,"ebin/"},{parse_transform, lager_transform}]}.

{deps,
 [
  {props,".*", {git, "https://github.com/greyarea/props.git", "master"}},
  {couchbeam,"0.8.*",{git,"git://github.com/benoitc/couchbeam.git","HEAD"}},
  {lager, "1.0.*", {git,"http://github.com/basho/lager", "HEAD"}},
  {gproc, "0.2.*", {git,"http://github.com/uwiger/gproc", "HEAD"}}
 ]
}.

{sub_dirs, ["rel"]}.
